.celu {
  text-align: center;
  color: #ffd000;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #bf9f11, 0 0 40px #bf9f11,
    0 0 50px #bf9f11, 0 0 60px #bf9f11, 0 0 70px #bf9f11, 0 0 80px #bf9f11;
  text-transform: capitalize;
  padding-bottom: 20px;
  padding-top: 30px;
  background-color: black;
}
body {
  background-color: black;
}

#root {
  background-color: black;
}

.fotos {
  display: grid;
  display: flex;
  grid-template-columns: auto;
  gap: 20px;
  padding-right: 100px;
  justify-content: left;
}

.contenido {
  padding-bottom: 10px;
}

.App-header {
  height: 300px;
}
.textocarrito {
  color: #bf9f11;
  padding-top: 100px;
}
.itemlist {
  padding-top: 30px;
}
