h5{
  color: brown;
}

h1{
  text-align: center;
  color: black;
  text-transform: capitalize;
  padding-bottom: 10px;
  padding-top: 30px;
}
p{
  font-weight: bold;
}
.list-group-item{
  color: white;
}
