.item-detail-container {
  display: flex;
}

.description-container {
  margin-left: 10px;
}

.title {
  color: white;
}
.descripcion {
  color: white;
}
.precio {
  color: white;
}
.cantSelect {
  color: green;
}

@media screen and (max-width: 390px) {
  .image-product {
    width: 350px;
    height: 501px;
  }
  img {
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .item-detail-container {
    flex-direction: column;
  }
  .title {
    color: white;
  }
  .descripcion {
    color: white;
  }
  .precio {
    color: white;
  }
  .cantSelect {
    color: green;
  }
}
