.item-detail-container{
    display: flex;
  
}

.container {
    margin-left: 35%;
}

.description-container{
    margin-left: 10px;
}
.title{
    color: white;
    padding-bottom: 20px;
}
.descripcion{
    color: white;
    padding-bottom: 20px;
}
.precio{
    color: pink;
    padding-bottom: 200px;
}
.contador{
    color: white;
}
.cantSelect{
    color: green;
  }
@media screen and (max-width: 390px){
    .image-product{
        width: 350px;
        height: 501px;
    }
    img{
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .item-detail-container{
        flex-direction: column;
    }
}
.cantSelect{
    color: green;
  }
  .title{
    color: white;
    padding-bottom: 20px;
}
.descripcion{
    color: white;
    padding-bottom: 20px;
}
.precio{
    color: pink;
    padding-bottom: 200px;
}
.contador{
    color: white;
}